<div class="main">
    <h2 class="logged-user">You are logged in as: {{ owner.value }}</h2>
    <div class="console-button-load">
        <button class="console-button" (click)="onClickGetAll()">Refresh</button>
        <button class="console-button-green" (click)="onClickLoad()">Load</button>
    </div>
    <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
        <select class="dropdown" id='peeps' name='people' [(ngModel)]="selected">
            <option *ngFor="let item of objectDocsComp" [value]="item._id">
              {{item.title}}
            </option>
        </select><br><br><br>
        <label class="title-header" for="title">Title: </label>
        <input class="title-text" type = "text" name = "titleText" placeholder = "example title" (change)="onChangeTitle($event)" [formControl]="titleText" ngModel required>
        <ckeditor name="content" class="editor-container"
        [(ngModel)]="content"
        [data]="model.editorDataText"
        [editor]="Editor"
        [config]="{ toolbar: [ 'Save','bold', 'italic', 'link', 'undo', 'redo', 'numberedList', 'bulletedList']}"
        (keyup)="editDoc()"
        (change)="onChange($event)"
        debounce="500">
        </ckeditor>
        <br><br>
        <a class="share-button">Share document with friends!</a><br>
        <select class="dropdown-user share-button" id='peeps' name='users' [(ngModel)]="userSelected">
            <option *ngFor="let item of objectUsersComp" [value]="item.email">
              {{item.email}}
            </option>
        </select><br><br><br>
        <br/>
        <!--<p>Text: {{ mainText.value }}</p>-->
        <!--<p>Title: {{ titleText.value }}</p>-->
        <input class="console-button-update" type = "submit" value = "Create new" [disabled]="!titleText.valid">
    </form>
    <div class="share-button">
        <button class="console-button-blue" (click)="onClickSaveUser()">Share User</button>
    </div>
    <button class="console-button-update console-button-green" (click)="updateSpecific()">Update existing</button>
</div>