.main {
    max-width: 800px;
    margin: 0 auto;
}

.console-button {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: none;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "Lato",sans-serif;
}

.logged-user {
    text-align: center;
}

.console-button-update {
    float: left;
    margin-left: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: none;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "Lato",sans-serif;
}

.console-button-blue {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(27, 143, 189);
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-family: "Lato",sans-serif;
}

.console-button-green {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(77, 224, 48);
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-family: "Lato",sans-serif;
}
.console-button:hover,
.console-button-update:hover {
    background-color: black;
    color: white;
}

.console-button-blue:hover {
    background-color: rgb(21, 181, 245);
}

.console-button-green:hover {
    background-color: rgb(181, 224, 172);
}

.title-header {
    font-size: 20px;
}

.title-text {
    width: 99%;
    height: 30px;
    font-size: 30px;
    margin-bottom: 20px;
}

.console-button-load {
    float: right;
    margin-right: 10px;
}

.dropdown {
    float: left;
    width: 500px;
    height: 40px;
}

.dropdown-user {
    float: left;
    width: 200px;
    height: 40px;
}

.share-button {
    float: right;
}

.savePdf {
    margin: 10px;
    float: right;
}

.shareUserDiv {
    margin-bottom: 20px;
}
