<div class="main">
    <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
        <label class="title-header" for="title">Title: </label>
        <input class="title-text" type = "text" name = "titleText" placeholder = "example title" [formControl]="titleText" ngModel>
        <ckeditor class="editor-container"
        [formControl]="mainText"
        [data]="model.editorDataText"
        [editor]="Editor"
        [config]="{ toolbar: [ 'Save','bold', 'italic', 'link', 'undo', 'redo', 'numberedList', 'bulletedList']}"
        (change)="onChange($event)"
        debounce="500">
        </ckeditor>
        <br/>

        <p>Text: {{ mainText.value }}</p>
        <p>Title: {{ titleText.value }}</p>
        <input class="console-button" type = "submit" value = "Create new">
    </form>
    <button class="console-button" (click)="onClickGetAll()">Get all</button>
</div>


<router-outlet></router-outlet>
